/* HOMEPAGE */

* {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.font-20 {
  font-size: 1.25rem;
}

.text-burly {
  color: burlywood;
}

.text-black {
  color: black !important;
}

.text-brown {
  color: #342924 !important;
}

#bg-img {
  object-fit: fill;
  position: fixed;
  z-index: -50;
  opacity: 0.4;
}

.top-nav {
  width: 75vw;
  height: 200px;
  background: floralwhite;
  border-bottom: 2px dotted #342924;
}

.logo {
  height: 100%;
  justify-self: center;
  align-self: center;
}

.opacity-p8 {
  opacity: 0.8;
}

.soc-med {
  width: 30px;
}

.custom-button {
  min-width: 75px;
  height: fit-content;
  border: 1px solid #342924;
  background-color: white;
  border-radius: 3px;
}

.custom-button:hover {
  background-color: #342924;
  color: white !important;
}

.cart-button {
  border: 0;
  background-color: inherit;
}

.cart {
  font-size: 1.8rem;
  background-color: inherit;
}

.cart:hover {
  color: burlywood !important;
}

#ads-carousel {
  box-shadow: 0 0 8px 3px floralwhite;
}

.category-item {
  border-radius: 50%;
  border: 1px solid #342924;
}

.category-item:hover {
  background-color: floralwhite;
}

.footer {
  width: 75vw;
  background-color: floralwhite;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* HOMEPAGE */

/* PRODUCT */

/* ------------ */
